.SearchBarContainer {
  width: 100%;
  display: flex;
  align-items: center;
}

input[type='search']::-webkit-search-cancel-button {
  -webkit-appearance: searchfield-cancel-button;
}

.SearchBarInput {
  flex: 1;
  margin-left: 10px;
  margin-top: 6px;
  margin-bottom: 6px;
  border-radius: 290486px;
  padding-left: 1em;
  padding-right: 1em;
  box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
  border: 1px solid transparent;
  background-color: #fff;
  border-color: #dbdbdb;
  color: #363636;
  max-width: 100%;
  width: 100%;

  font-size: 0.9rem;
  height: 2em;

  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  line-height: 1.3;

  position: relative;
}

.SearchBarInput:focus {
  outline: none;
}

.SearchBarInput:hover {
  background-color: rgb(252, 252, 252);
}

.SearchResultsCountContainer {
  flex-shrink: 0;
  width: 36px;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.SearchResultsCount {
  width: 25px;
  height: 25px;
  font-size: 0.8rem;

  background-color: #f5f5f5;
  color: #363636;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: all 0.1s ease-in;
}

.Searching {
  background-color: #209cee;
  color: #fff;
}

.CloseToSuccess {
  background-color: #ffdd57;
  color: rgba(0, 0, 0, 0.7);
}

.Success {
  background-color: #23d160;
  color: #fff;
}

.NoResults {
  background-color: #ff3860;
  color: #fff;
}
