.TabItem {
  /* padding: 0px 8px; */
  width: 100%;
  display: flex;
  position: relative;
}

.TabContainerPad {
  flex-shrink: 0;
  width: 8px;
}

.TabContainerPadActive {
  background-color: rgb(255, 255, 255);
}

.TabContainerPadActive.Dark {
  background-color: rgb(53, 54, 58);
}

.TabContainerPadInactiveHovering {
  background-color: rgb(244, 245, 247);
}

.TabContainerPadInactiveHovering.Dark {
  background-color: rgb(46, 47, 50);
}

.TabContainerLeftPadInner {
  width: 100%;
  height: 100%;
  background-color: rgb(222, 225, 230);
  border-bottom-right-radius: 8px;
}

.TabContainerLeftPadInner.Dark {
  background-color: rgb(36, 36, 36);
}

.TabContainerRightPadInner {
  width: 100%;
  height: 100%;
  background-color: rgb(222, 225, 230);
  border-bottom-left-radius: 8px;
}

.TabContainerRightPadInner.Dark {
  background-color: rgb(36, 36, 36);
}

.TabContainer {
  flex: 1;
  min-width: 0;
  /* width: 100%; */
  display: flex;
  align-items: center;
  padding: 8px 8px 8px 10px;
  cursor: default;
  color: rgb(60, 64, 67);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  /* border-radius: 6px; */

  transition: all 0.1s ease-in;

  position: relative;
}

.TabContainer.Dark {
  color: rgb(190, 193, 198);
}

.ActiveTabContainer {
  background-color: rgb(255, 255, 255);
}

.ActiveTabContainer.Dark {
  background-color: rgb(53, 54, 58);
}

.InactiveTabContainerHovering {
  background-color: rgb(244, 245, 247);
}

.InactiveTabContainerHovering.Dark {
  background-color: rgb(46, 47, 50);
}

.PinnedIconContainer {
  position: absolute;
  top: -3px;
  left: 1px;
  padding-left: 1px;
  padding-top: 0px;
}

.PinnedIcon {
  width: 8px;
  height: 8px;
  opacity: 0.5;
  color: rgb(66, 66, 66);
  transform: rotate(-45deg);
}

.PinnedIcon.Dark {
  color: rgb(190, 193, 198);
}

.TabFaviconContainer {
  flex-shrink: 0;
  margin-right: 8px;
  flex-shrink: 0px;
  display: flex;
  align-items: center;
}

.TabTitleContainer {
  flex: 1;
  min-width: 0;

  display: flex;
  align-items: center;
}

.TabTitle {
  flex: 1;
}

.Truncated {
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.MutedIconContainer {
  margin-left: 2px;
  margin-right: 2px;
  width: 16px;
  height: 16px;
  align-items: center;
  color: rgb(124, 128, 130);
}

.MutedIconContainer.Dark {
  color: rgb(190, 193, 198);
}

.Ordinal {
  width: 20px;
  text-align: right;
  margin-right: 5px;
}

.TabItemActionButtonContainer {
  flex-shrink: 0;
  cursor: default;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.1s ease-in;
}

.TabItemActionButton {
  width: 18px;
  height: 18px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;

  color: rgb(124, 128, 130);
}

.TabItemActionButton.Dark {
  color: rgb(190, 193, 198);
}

.TabItemActionButton:hover {
  color: rgb(60, 64, 67);
  background-color: rgb(232, 234, 237);
}

.TabItemActionButton.Dark:hover {
  color: rgb(190, 193, 198);
  background-color: rgb(68, 69, 71);
}

.TabItemActionButtonSpaceBetween {
  width: 5px;
}

.MenuItemIconContainer {
  height: 16px;
  width: 28px;
  display: flex;
  align-items: center;
}

.blink {
  animation: blinker 0.8s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
