/* Popover */
.PopoverContainer {
  background-color: #fff;
  opacity: 1;
  color: rgb(32, 33, 36);
  border: 1px solid #ebebeb;
  border-radius: 0px;
  box-shadow: 0px 2px 2px -1px rgba(0, 0, 0, 0.2),
    0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 1px 2px 0px rgba(0, 0, 0, 0.08);
}

.PopoverContainer.Dark {
  border: 1px solid rgb(82, 82, 82);
}

.PopoverTitle {
  padding: 0.5rem 0.75rem;
  background-color: #f2f0f0;
  font-weight: 600;
  font-size: 15px;

  display: flex;
  align-items: center;
}

.PopoverTitle.Dark {
  background-color: rgb(51, 51, 51);
  color: rgb(162, 162, 162);
}

.VersionBadge {
  font-weight: 400;
  padding: 2px 6px;
  border-radius: 8px;
  font-size: 12px;
  background-color: rgb(228, 228, 228);
  color: black;
  text-decoration: none;
}

.VersionBadge.Dark {
  background-color: rgb(98, 98, 99);
  color: rgb(212, 212, 212);
}

.PopoverContent {
  font-size: 0.8rem;
  font-weight: 300;
}

.PopoverContent.Dark {
  background-color: rgb(36, 36, 36);
  color: rgb(162, 162, 162);
}

.SettingEntryDivider {
  height: 0px;
  border-bottom: 1px solid #f2f0f0;
}

.SettingEntryDivider.Dark {
  border-bottom: 1px solid rgb(82, 82, 82);
}

.PopoverContent .SettingEntryContainer {
  padding: 0.5rem 0.75rem;
}

.PopoverContent .SettingEntryTitle {
  font-weight: 400;
  display: flex;
  align-items: center;
}

.PopoverContent .SettingEntryContent {
  margin: 6px 0px 0px 18px;
  opacity: 0.8;
}

.PopoverContent .SettingEntryContent label {
  flex: 0;
  margin-right: 8px;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 4px 6px;

  transition: all 0.1s ease-in;
}

.PopoverContent .SettingEntryContent label:hover,
.PopoverContent .SettingEntryContent label.Active {
  background-color: #f2f0f0;
}

.PopoverContent .SettingEntryContent label.Dark:hover,
.PopoverContent .SettingEntryContent label.Dark.Active {
  background-color: #000;
  color: #fff;
}

.PopoverContent .SettingEntryContent label input {
  margin-right: 6px;
}

.SettingEntryTitleIcon {
  width: 14px;
  height: 14px;
  margin-right: 6px;
  flex-shrink: 0;
}

.SettingEntryOptionIcon {
  width: 12px;
  height: 12px;
  margin-right: 6px;
  flex-shrink: 0;
}
