.NewTabButtonContainer {
  display: flex;
  /* justify-content: center; */
  align-items: flex-start;
  padding: 0px;
  color: rgb(60, 64, 67);

  margin-top: 5px;
  min-height: 80px;

  user-select: none;
}

.NewTabButtonContainer.Dark {
  color: rgb(190, 193, 198);
}

.NewTabButton {
  width: 100%;
  /* height: 30px; */

  padding: 4px 8px;

  display: flex;
  align-items: center;

  color: rgb(60, 64, 67);
  transition: all 0.2s ease-in;

  cursor: default;
}

.NewTabButton.Dark {
  color: rgb(190, 193, 198);
}

.NewTabButton:hover {
  background-color: rgb(203, 206, 211);
}

.NewTabButton.Dark:hover {
  background-color: rgb(68, 69, 71);
}

.NewTabButton .ShortcutName {
  margin-right: 5px;
  opacity: 0.6;
  font-size: 0.8rem;
}

.PinnedTabsContainer {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.PinnedUnpinnedDivider {
  width: 100%;
  height: 0.5px;
  background-color: #999;
  margin-top: 6px;
  margin-bottom: 6px;
}
