body {
  margin: 0px;
  padding: 0px;
  font-size: 14px;
  background-color: rgb(222, 225, 230);
  height: 100%;
}

body.Dark {
  background-color: rgb(36, 36, 36);
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
